#big_name {
    /* color: blue; */
    color: #4B79A1;
    font-size: 50px;
    text-align: center;
}
.picture_profile{
    width: 20vw;
    height: 20vw;
    border-radius: 5vw;
    border: 3px solid black;
    /* margin-left: 0%; */
    /* margin-left: 25%; */
    display: block;
    margin:auto;
}
/* background: #1D4350;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #A43931, #1D4350);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #A43931, #1D4350); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
body{
    align-items: center;
    align-content: center;
    font-weight: bold;
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media (max-width:1000px){
    /* body{
        background-color: green;
    } */
    #first_para{
        clear:left;
    }
    #second_para{
        clear:right;
    }
    .picture_profile{
        display:none;
    }
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a:hover{
    color:red;
}
#first_para,#second_para{
    font-size: 2vw;
}
/* p{
    font-weight:bold;
} */